/* Estilos CSS privados del componente HeroDetailComponent */

label {
  color: #435960; /* Color del texto */
  font-weight: bold; /* Peso de la fuente */
}

input {
  font-size: 1em; /* Tamaño de la fuente */
  padding: .5rem; /* Espaciado interno */
}

button {
  margin-top: 20px; /* Margen superior */
  margin-right: .5rem; /* Margen derecho */
  background-color: #eee; /* Color de fondo del botón */
  padding: 1rem; /* Espaciado interno */
  border-radius: 4px; /* Radio de borde */
  font-size: 1rem; /* Tamaño de la fuente */
}

button:hover {
  background-color: #cfd8dc; /* Color de fondo del botón al pasar el cursor */
}

button:disabled {
  background-color: #eee; /* Color de fondo del botón deshabilitado */
  color: #ccc; /* Color del texto del botón deshabilitado */
  cursor: auto; /* Cursor predeterminado */
}

span {
  color: #435960; /* Color del texto */
  font-weight: bold; /* Peso de la fuente */
}

.descripcion {
  display: flex; /* Mostrar como contenedor flex */
  align-items: center; /* Alinear elementos verticalmente */
}

.descripcion label {
  margin-right: 10px; /* Margen derecho */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
}

.descripcion input {
  flex: 1; /* Ocupar el espacio restante */
  padding: 8px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de la fuente */
}

.contenedor-imagen {
  width: 300px; /* Ancho del contenedor */
  height: 200px; /* Altura del contenedor */
  border: 1px solid #ccc; /* Borde */
  /* Otros estilos que desees aplicar */
}

.contenedor-imagen img {
  width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: 100%; /* Ajustar la imagen a la altura del contenedor */
  object-fit: cover; /* Ajustar la imagen dentro del contenedor manteniendo su relación de aspecto */
}
