<div *ngIf="hero"> <!-- Se muestra si hay un héroe definido -->

  <h2>DETALLES: {{hero.name | uppercase}} </h2> <!-- Título con el nombre del héroe en mayúsculas -->

  <div><span>id: </span>{{hero.id}}</div> <!-- Muestra el ID del héroe -->

  <div>
    <label for="hero-name">TIPO DE ARMA :</label> <!-- Etiqueta para el campo de tipo de arma -->
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/> <!-- Campo de entrada para el tipo de arma -->
  </div>

  <div class="descripcion">
    <label for="hero-descripcion">DESCRIPCION :</label> <!-- Etiqueta para el campo de descripción -->
    <input id="hero-descripcion" [(ngModel)]="hero.descripcion" placeholder="Hero descripcion"/> <!-- Campo de entrada para la descripción -->
  </div>

  <!--<div><span>DESCRIPCION: </span>{{hero.descripcion}}</div>--> <!-- Comentario: muestra la descripción del héroe -->

  <button type="button" (click)="goBack()">VOLVER</button> <!-- Botón para retroceder -->
  <button type="button" (click)="save()">GUARDAR</button> <!-- Botón para guardar cambios -->
</div>
