<div *ngIf="messageService.messages.length"> <!-- Comprueba si hay mensajes para mostrar -->

  <h2>Mensajes :</h2> <!-- Encabezado para la lista de mensajes -->
  <button type="button" class="clear" (click)="messageService.clear()">Borrar Mensaje</button> <!-- Botón para borrar todos los mensajes -->
  
  <!-- Itera sobre cada mensaje en el array de mensajes y los muestra -->
  <div *ngFor='let message of messageService.messages'> 
    {{message}} <!-- Muestra el contenido del mensaje -->
  </div>

</div>
