/* Estilos CSS privados del componente MessagesComponent */

h2 {
  color: #A80000; /* Color del texto del encabezado */
  font-family: Arial, Helvetica, sans-serif; /* Fuente del texto */
  font-weight: lighter; /* Peso de la fuente */
}

.clear {
  color: #333; /* Color del texto del botón */
  background-color: #eee; /* Color de fondo del botón */
  margin-bottom: 12px; /* Margen inferior del botón */
  padding: 1rem; /* Espaciado interno del botón */
  border-radius: 4px; /* Radio de borde del botón */
  font-size: 1rem; /* Tamaño de la fuente del botón */
}

.clear:hover {
  color: #fff; /* Color del texto del botón al pasar el cursor */
  background-color: #42545C; /* Color de fondo del botón al pasar el cursor */
}
