/* Estilos CSS privados de DashboardComponent */

h2 {
  text-align: center; /* Centrar texto */
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box; /* Para navegadores WebKit */
  display: -moz-box; /* Para navegadores Mozilla */
  display: -ms-flexbox; /* Para navegadores Microsoft */
  display: -webkit-flex; /* Para navegadores WebKit */
  display: flex; /* Estándar */
  flex-direction: row; /* Dirección de los elementos flexibles: fila */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
  justify-content: space-around; /* Alineación horizontal centrada */
  align-content: flex-start; /* Alineación vertical: inicio */
  align-items: flex-start; /* Alineación de los elementos flexibles: inicio */
}

a {
  background-color: #3f525c; /* Color de fondo */
  border-radius: 2px; /* Radio del borde */
  padding: 1rem; /* Relleno */
  font-size: 1.2rem; /* Tamaño de fuente */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como bloque en línea */
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar texto */
  width: 100%; /* Ancho del elemento al 100% */
  min-width: 70px; /* Ancho mínimo */
  margin: .5rem auto; /* Margen */
  box-sizing: border-box; /* Incluir el borde y el relleno en el ancho y alto del elemento */

  /* flexbox */
  order: 0; /* Orden de aparición */
  flex: 0 1 auto; /* Factor de crecimiento, factor de compresión, base de tamaño */
  align-self: auto; /* Alineación de un elemento flexible dentro del contenedor */
}

@media (min-width: 600px) {
  a {
    width: 18%; /* Ancho del elemento al 18% en pantallas grandes */
    box-sizing: content-box; /* Incluir solo el contenido en el ancho y alto del elemento */
  }
}

a:hover {
  background-color: black; /* Color de fondo al pasar el cursor */
}
