/* Estilos globales */
* {
  font-family: Arial, Helvetica, sans-serif; /* Define la fuente predeterminada para todos los elementos */
}

h1 {
  color: #ffffff; /* Color del texto */
  font-size: 2.5rem; /* Tamaño de la fuente */
}

h2, h3 {
  color: #ffffff; /* Color del texto */
  font-weight: lighter; /* Grosor de la fuente */
}

h3 {
  font-size: 1.3rem; /* Tamaño de la fuente */
}

body {
  padding: .5rem; /* Espaciado interno */
  max-width: 1000px; /* Ancho máximo del cuerpo */
  margin: auto; /* Centra el cuerpo en la página */
  background-image: url(img/fondo.jpg);
}

@media (min-width: 600px) {
  body {
    padding: 2rem; /* Espaciado interno aumentado en pantallas grandes */
  }
}

body, input[text] {
  color: #fffbfb; /* Color del texto */
  font-family: Cambria, Georgia, serif; /* Fuente */
}

a {
  cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
}

/* Estilos de botón */
button {
  background-color: #eee; /* Color de fondo */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  cursor: pointer; /* Cambia el cursor a mano */
  color: black; /* Color del texto */
  font-size: 1.2rem; /* Tamaño de la fuente */
  padding: 1rem; /* Relleno */
  margin-right: 1rem; /* Margen derecho */
  margin-bottom: 1rem; /* Margen inferior */
  margin-top: 1rem; /* Margen superior */
}

button:hover {
  background-color: black; /* Color de fondo al pasar el cursor */
  color: white; /* Color del texto al pasar el cursor */
}

button:disabled {
  background-color: #eee; /* Color de fondo cuando está deshabilitado */
  color: #aaa; /* Color del texto cuando está deshabilitado */
  cursor: auto; /* Cursor predeterminado cuando está deshabilitado */
}

/* Estilos de enlaces de navegación */
nav a {
  padding: 5px 10px; /* Relleno */
  text-decoration: none; /* Sin decoración de texto */
  margin-right: 10px; /* Margen derecho */
  margin-top: 10px; /* Margen superior */
  display: inline-block; /* Mostrar como bloque en línea */
  background-color: #e8e8e8; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border-radius: 4px; /* Radio del borde */
}

nav a:hover {
  color: white; /* Color del texto al pasar el cursor */
  background-color: #42545C; /* Color de fondo al pasar el cursor */
}

nav a.active {
  background-color: black; /* Color de fondo para el enlace activo */
  color: white; /* Color del texto para el enlace activo */
}

hr {
  margin: 1.5rem 0; /* Margen superior e inferior */
}

input[type="text"] {
  box-sizing: border-box; /* Incluir el borde y el relleno en el ancho y alto del elemento */
  width: 100%; /* Ancho al 100% */
  padding: .5rem; /* Relleno */
}
