/* Estilos CSS privados del componente HeroesComponent */

.heroes {
  margin: 0 0 2em 0; /* Margen del contenedor de la lista de héroes */
  list-style-type: none; /* Tipo de lista */
  padding: 0; /* Espaciado interno */
  width: 15em; /* Ancho del contenedor de la lista de héroes */
}

input {
  display: block; /* Muestra el input en bloque */
  width: 100%; /* Ancho del input */
  padding: .5rem; /* Espaciado interno */
  margin: 1rem 0; /* Margen */
  box-sizing: border-box; /* Modelo de caja */
}

.heroes li {
  position: relative; /* Posición relativa */
  cursor: pointer; /* Cursor al pasar sobre el elemento */
}

.heroes li:hover {
  left: .1em; /* Movimiento lateral al pasar sobre el elemento */
}

.heroes a {
  color: #333; /* Color del texto del enlace */
  text-decoration: none; /* Quita la decoración de subrayado */
  background-color: #EEE; /* Color de fondo del enlace */
  margin: .5em; /* Margen */
  padding: .3em 0; /* Espaciado interno */
  height: 1.6em; /* Altura */
  border-radius: 4px; /* Radio de borde */
  display: block; /* Muestra el enlace en bloque */
  width: 100%; /* Ancho del enlace */
}

.heroes a:hover {
  color: #2c3a41; /* Color del texto del enlace al pasar el cursor */
  background-color: #e6e6e6; /* Color de fondo del enlace al pasar el cursor */
}

.heroes a:active {
  background-color: #525252; /* Color de fondo del enlace activo */
  color: #fafafa; /* Color del texto del enlace activo */
}

.heroes .badge {
  display: inline-block; /* Muestra el badge en línea */
  font-size: small; /* Tamaño de la fuente */
  color: white; /* Color del texto del badge */
  padding: 0.8em 0.7em 0 0.7em; /* Espaciado interno */
  background-color: #405061; /* Color de fondo del badge */
  line-height: 1em; /* Altura de línea */
  position: relative; /* Posición relativa */
  left: -1px; /* Posición lateral */
  top: -4px; /* Posición superior */
  height: 1.8em; /* Altura */
  min-width: 16px; /* Ancho mínimo */
  text-align: right; /* Alineación del texto a la derecha */
  margin-right: .8em; /* Margen derecho */
  border-radius: 4px 0 0 4px; /* Radio de borde */
}

.add-button {
 padding: .5rem 1.5rem; /* Espaciado interno */
 font-size: 1rem; /* Tamaño de la fuente */
 margin-bottom: 2rem; /* Margen inferior */
}

.add-button:hover {
  color: white; /* Color del texto al pasar el cursor */
  background-color: #42545C; /* Color de fondo al pasar el cursor */
}

button.delete {
  position: absolute; /* Posición absoluta */
  left: 210px; /* Posición lateral */
  top: 5px; /* Posición superior */
  background-color: white; /* Color de fondo del botón */
  color:  #525252; /* Color del texto del botón */
  font-size: 1.1rem; /* Tamaño de la fuente */
  margin: 0; /* Margen */
  padding: 1px 10px 3px 10px; /* Espaciado interno */
}

button.delete:hover {
  background-color: #525252; /* Color de fondo del botón al pasar el cursor */
  color: white; /* Color del texto del botón al pasar el cursor */
}
