<!--<h2>Mis heroes </h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul> -->

<!--<div *ngIf="selectedHero">
  <h2>DETALLES: {{selectedHero.name | uppercase}} </h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">NOMBRE DEL HEROE </label>

    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->
<!-- Encabezado para la lista de héroes -->
<h2>My Heroes</h2>

<!-- Lista de héroes -->
<ul class="heroes">
  <!-- Itera sobre cada héroe en la lista -->
  <li *ngFor="let hero of heroes">
    <!-- Botón para seleccionar un héroe -->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <!-- Muestra el ID del héroe -->
      <span class="badge">{{hero.id}}</span>
      
      <!-- Muestra el nombre del héroe -->
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!-- Componente para mostrar los detalles del héroe seleccionado -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
