/* Estilos CSS privados del componente HeroSearch */

label {
  display: block; /* Muestra el elemento como bloque */
  font-weight: bold; /* Peso de la fuente */
  font-size: 1.2rem; /* Tamaño de la fuente */
  margin-top: 1rem; /* Margen superior */
  margin-bottom: .5rem; /* Margen inferior */
}

input {
  padding: .5rem; /* Espaciado interno */
  width: 100%; /* Ancho del input */
  max-width: 600px; /* Ancho máximo del input */
  box-sizing: border-box; /* Modelo de caja */
  display: block; /* Muestra el elemento como bloque */
}

input:focus {
  outline: #336699 auto 1px; /* Estilo del borde al enfocar el input */
}

li {
  list-style-type: none; /* Quita el estilo de viñetas de la lista */
}

.search-result li a {
  border-bottom: 1px solid gray; /* Borde inferior */
  border-left: 1px solid gray; /* Borde izquierdo */
  border-right: 1px solid gray; /* Borde derecho */
  display: inline-block; /* Muestra el elemento como bloque en línea */
  width: 100%; /* Ancho del enlace */
  max-width: 600px; /* Ancho máximo del enlace */
  padding: .5rem; /* Espaciado interno */
  box-sizing: border-box; /* Modelo de caja */
  text-decoration: none; /* Quita la decoración de subrayado */
  color: black; /* Color del texto */
}

.search-result li a:hover {
  background-color: #435A60; /* Color de fondo al pasar el cursor */
  color: white; /* Color del texto al pasar el cursor */
}

ul.search-result {
  margin-top: 0; /* Margen superior */
  padding-left: 0; /* Padding izquierdo */
}
