<div id="search-component"> <!-- Contenedor del componente de búsqueda -->
  <label for="search-box">BUSCAR ARMAS</label> <!-- Etiqueta para el cuadro de búsqueda -->
  <input #searchBox id="search-box" (input)="search(searchBox.value)" /> <!-- Cuadro de búsqueda -->

  <ul class="search-result"> <!-- Lista de resultados de la búsqueda -->
    <!-- Itera sobre cada héroe en el arreglo de héroes -->
    <li *ngFor="let hero of heroes$ | async" >
      <!-- Enlace a la ruta de detalle del héroe -->
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}} <!-- Muestra el nombre del héroe -->
      </a>
    </li>
  </ul>
</div>
